<!DOCTYPE HTML>
<html lang="en">
<html>

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/index_style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
</head>

<body class="body">

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>
            <!--Radio-->
            <form>
                <div class="radio-group">
                    <input type="radio" id="option-one" name="selector">
                    <label for="option-one">Student</label>
                    <input type="radio" id="option-two" name="selector">
                    <label for="option-two">Professor</label>
                    <input type="radio" id="option-three" name="selector">
                    <label for="option-three">Admin</label>
                </div>
            </form>

            <!-- Login Form -->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
                <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
                <input onclick="window.location.href = 'student.html';" type="button" class="fadeIn fourth" value="Log In">
            </form>

        </div>
    </div>

</body>

</html>